/* sm 576px -->      */
@media screen and (min-width:576px) {
    .sm-50 {
        width: 50%;
    }

    .sm-33 {
        width: 33.333%;
    }

    .sm-25 {
        width: 25%;
    }

    .sm-20 {
        width: 20%;
    }

    .sm-16 {
        width: 16.66%;
    }

}

/* md 768px  -->    */
@media screen and (min-width:768px) {
    .md-50 {
        width: 50%;
    }

    .md-33 {
        width: 33.333%;
    }

    .md-25 {
        width: 25%;
    }

    .md-20 {
        width: 20%;
    }

    .md-16 {
        width: 16.66%;
    }

    /* ==========Start Home Section========== */

    #home {
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Style card-itme-lf */
    #home .card-item-lf h1 {
        margin: 0px 0px 24px;
        font-size: 48px;
        line-height: 60px;
    }

    #home .card-item-lf p {
        margin: 0px 0px 32px;
        font-size: 16px;
        line-height: 26px;
    }

    #home .card-item-lf .box-bt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #home .card-item-lf .box-bt .box-bt-1 {
        margin-bottom: 0px;
    }

    #home .card-item-lf .box-bt .box-bt-1 button {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 24px;
    }

    #home .card-item-lf .box-bt .box-bt-2 {
        margin-bottom: 0px;
    }

    #home .card-item-lf .box-bt .box-bt-2 button {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 24px;
    }

    /* ====Style Card-itme-rh ====== */
    #home .card-item-rh .inner .box-imge {
        padding: 4px;
        margin-top: 60px;
    }


    #home .card-item-rh .inner .img {
        height: 297px;
    }

    #home .card-item-rh .inner .box-img {
        padding: 24px;
        bottom: -30px;
        left: -30px;
    }

    #home .card-item-rh .inner .box-img .box-icon i {
        font-size: 20px;
        line-height: 28px;
    }

    #home .card-item-rh .inner .box-img .box-title p.one {
        font-size: 12px;
        line-height: 16px;
    }

    #home .card-item-rh .inner .box-img .box-title p.two {
        font-size: 20px;
        line-height: 28px;
    }

    /* ==========ENd Home Section========== */



    /* =======End Our Games Section========= */

    #our-game #carouselExample .parent .card-2 {
        display: block;
    }

    #our-game #carouselExample .parent .card-3 {
        display: none;
    }

    #our-game .title p {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #our-game .title p::before {
        width: 64px;
        height: 2px;
        left: 30%;
        top: 40%;
    }

    #our-game .title p::after {
        width: 64px;
        height: 2px;
        right: 30%;
        top: 40%;
    }

    #our-game .title h2 {
        margin: 0px;
        font-size: 48px;
        line-height: 48px;
    }

    .carousel-control-next {
        font-size: 20px;
        line-height: 28px;
        right: 50%;
        color: #364153;
    }

    .carousel-control-prev {
        font-size: 20px;
        line-height: 28px;
        left: 30%;
        color: #364153;
    }

    #our-game .container .box-bt button {
        padding: 16px 32px;
        font-size: 18px;
        line-height: 28px;
        width: fit-content;
        position: absolute;
        bottom: -35px;
        left: 55%;
    }

    /* =======ENd Our Games Section========= */



    /* ===========Strat Waht We Do Section===== */

    #section-3 .title p.one {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-3 .title p.one::before {
        width: 64px;
        height: 2px;
        top: 40%;
        left: 30%;
    }

    #section-3 .title p.one::after {
        width: 64px;
        height: 2px;
        top: 40%;
        right: 30%;
    }

    #section-3 .title h2 {
        margin: 0px 0px 8px;
        font-size: 36px;
        line-height: 40px;
    }

    #section-3 .title p.two {
        font-size: 36px;
        line-height: 36px;
    }

    #section-3 .parent .inner {
        padding: 60px;
    }

    #section-3 .parent .inner .box-icon {
        padding: 24px;
    }

    #section-3 .parent .inner-imge-1 {
        width: 338px;
        height: 274px;
    }

    #section-3 .parent .inner-imge-2 {
        width: 338px;
        height: 274px;
    }

    #section-3 .parent .inner .box-icon i {
        font-size: 24px;
        line-height: 32px;
    }

    #section-3 .parent .inner h3 {
        font-size: 20px;
        line-height: 25px;
    }

    /* ===========End Waht We Do Section===== */


    /* ========Start Sponsors Section======= */

    #section-4 {
        background: #0A0F13;
        padding: 60px 0;
        display: flex;
        justify-content: center;
        position: relative;
        background-image: radial-gradient(ellipse 150% 85% at 50% 50%, rgba(202, 254, 28, 0.6) 0%, #0A0F13 50%);
    }

    #section-4::before {
        content: "";
        position: absolute;
        width: 465px;
        height: 1.5px;
        background: linear-gradient(to right, transparent, #CAFE1C 20%, #CAFE1C 80%, transparent);
        top: 0;
        box-shadow: 0px 0px 10px #CAFE1C, 0px 0px 20px #cbfe1c4d;
    }

    /* ========End Sponsors Section======= */


    /* ============Strat Our Team =========== */

    /* ==Style Section-Title ====== */
    #section-5 .section-title p.one {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3.2px;
    }

    #section-5 .section-title p.one::before {
        width: 50px;
        height: 1.55px;
        top: 40%;
        left: 33%;
    }

    #section-5 .section-title p.one::after {
        width: 50px;
        height: 1.55px;
        top: 40%;
        right: 33%;
    }

    #section-5 .section-title h2 {
        font-size: 48px;
        line-height: 48px;
    }

    #section-5 .section-title p.two {
        margin: 24px 0px 0px;
        font-size: 20px;
        line-height: 28px;
    }

    /* =====Style Card-item ========= */
    #section-5 .card-item .inner .title-inner {
        padding: 24px;
    }

    #section-5 .card-item .inner .title-inner h3 {
        margin: 0px 0px 4px;
        font-size: 20px;
        line-height: 28px;
    }

    #section-5 .card-item .inner .title-inner p.one {
        font-size: 14px;
        line-height: 20px;
    }

    #section-5 .card-item .inner .title-inner p.two {
        font-size: 12px;
        line-height: 16px;
    }

    #section-5 .card-item .inner .title-rotet {
        font-size: 18px;
        line-height: 28px;
    }

    /* ============End Our Team =========== */

    /* ============Start Contact Us section======= */
    #section-6 .title-section-6 p.one {
        margin: 0px 0xp 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3.2px;
    }

    #section-6 .title-section-6 p.one::before {
        width: 50px;
        height: 1.55px;
        top: 40%;
        left: 30%;
    }

    #section-6 .title-section-6 p.one::after {
        width: 50px;
        height: 1.55px;
        top: 40%;
        right: 30%;
    }

    #section-6 .title-section-6 h2 {
        font-size: 48px;
        line-height: 48px;
    }

    #section-6 .title-section-6 p.two {
        margin: 24px 0px 0xp;
        font-size: 20px;
        line-height: 28px;
    }

    /* ===Start Card-item-lf ==== */
    #section-6 .card-item-lf .box {
        margin-bottom: 32px;
        padding: 32px;
    }

    #section-6 .card-item-lf .box .icon {
        width: 49.61px;
        height: 49.61px;
    }

    #section-6 .card-item-lf .box .icon i {
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-lf .box .title-box h3 {
        font-size: 20px;
        line-height: 28px;
    }

    #section-6 .card-item-lf .box .title-box P {
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-lf .box-community {
        padding: 32px;
    }

    #section-6 .card-item-lf .box-community h3 {
        margin: 0px 0px 16px;
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-lf .box-community p {
        margin: 0px 0px 24px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-lf .box-community .icon-community .box-ic {
        width: 37px;
        height: 37px;
    }

    #section-6 .card-item-lf .box-community .icon-community .box-ic i {
        font-size: 20px;
        line-height: 28px;
    }

    /* ======Start Card-Item-rh ======== */
    #section-6 .card-item-rh .inner {
        padding: 32px;
    }

    #section-6 .card-item-rh .inner h3 {
        margin: 0px 0px 24px;
        font-size: 24px;
        line-height: 32px;
    }

    /* ======== Style all label,input and div ======= */

    #section-6 .card-item-rh .inner form div {
        margin: 0px 0px 24px;
    }

    #section-6 .card-item-rh .inner form label {
        margin: 0px 0px 8px;
        font-size: 14px;
        line-height: 20px;
    }

    #section-6 .card-item-rh .inner form input {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-rh .inner form select {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-rh .inner form .message textarea {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
        height: 112px;
    }

    #section-6 .card-item-rh .inner form .subscribe input {
        width: 15.5px;
        height: 15.5px;
    }

    #section-6 .card-item-rh .inner form .box-btn button {
        padding: 16px 24px;
        font-size: 18px;
        line-height: 28px;
    }

    #section-6 .card-item-rh .inner .fot-form {
        padding: 32px 0px 0px;
        margin: 32px 0px 0px;
    }

    #section-6 .card-item-rh .inner .fot-form h5 {
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-rh .inner .fot-form span {
        font-size: 14px;
        line-height: 20px;
    }

    /* ============End Contact Us section======= */


    /* ==========Start Footer Section=========== */

    #footer .card-item .inner .one {
        margin: 0px 0px 24px;
        font-size: 20px;
        line-height: 28px;
    }

    #footer .card-item .inner p {
        margin: 0px 0px 24px;
        font-size: 16px;
        line-height: 24px;
    }

    #footer .card-item .inner .two a {
        font-size: 20px;
        line-height: 28px;
    }

    #footer .card-item .inner h4 {
        margin: 0px 0px 24px;
        font-size: 20px;
        line-height: 28px;
    }


    #footer .card-item .inner ul li {
        margin: 0px 0px 12px;
    }

    #footer .card-item .inner ul li a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    #footer .container .title-buttom {
        padding: 32px 0px 0px;
    }

    #footer .container .title-buttom .left p {
        margin: 0px;
        font-size: 16px;
        line-height: 24px;
    }

    #footer .container .title-buttom .right ul li {
        padding: 0px 24px 0px 0px;
    }

    #footer .container .title-buttom .right ul li a {
        font-size: 16px;
        line-height: 24px;
    }

    /* ============End Footer Section=========== */


}

/* lg 992px  -->       */
@media screen and (min-width:992px) {
    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.66%;
    }


    /* =======Start NavBar Section ======== */
    .navbar .nav-icon i.fa-bell::after {
        content: "";
        display: none;
    }

    .navbar .nav-icon i.fa-message::after {
        content: "";
        display: none;
    }

    /* ==========Start Home Section========== */

    #home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        text-align: start;
    }

    /* Style card-itme-lf */
    #home .card-item-lf h1 {
        margin: 0px 0px 24px;
        font-size: 60px;
        line-height: 75px;

    }

    #home .card-item-lf p {
        margin: 0px 0px 32px;
        font-size: 16px;
        line-height: 26px;
    }


    #home .card-item-lf .box-bt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    #home .card-item-lf .box-bt .box-bt-1 {
        margin-bottom: 0px;
    }

    #home .card-item-lf .box-bt .box-bt-1 button {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 24px;
    }

    #home .card-item-lf .box-bt .box-bt-2 {
        margin-bottom: 0px;
    }

    #home .card-item-lf .box-bt .box-bt-2 button {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 24px;
    }

    /* ====Style Card-itme-rh ====== */
    #home .card-item-rh .inner .box-imge {
        padding: 4px;
        margin-top: 0px;
    }

    #home .card-item-rh .inner .img {
        height: 384px;
    }

    #home .card-item-rh .inner .box-img {
        bottom: -30px;
        left: -30px;
        padding: 24px;
    }

    #home .card-item-rh .inner .box-img .box-icon i {
        font-size: 20px;
        line-height: 28px;
    }

    #home .card-item-rh .inner .box-img .box-title p.one {
        font-size: 12px;
        line-height: 16px;
    }

    #home .card-item-rh .inner .box-img .box-title p.two {
        font-size: 20px;
        line-height: 28px;
    }

    /* ==========End Home Section========== */




    /* =======Start Our Games Section========= */


    #our-game #carouselExample .parent .card-3 {
        display: block;
    }

    #our-game .title p {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #our-game .title p::before {
        width: 64px;
        height: 2px;
        left: 40%;
        top: 50%;
    }

    #our-game .title p::after {
        width: 64px;
        height: 2px;
        right: 40%;
        top: 50%;
    }

    #our-game .title h2 {
        margin: 0px;
        font-size: 48px;
        line-height: 48px;
    }

    .carousel-control-next {
        right: 55%;
        font-size: 20px;
        line-height: 28px;
        color: #364153;
    }

    .carousel-control-prev {
        left: 35%;
        font-size: 20px;
        line-height: 28px;
        color: #364153;
    }

    #our-game .container .box-bt button {
        width: fit-content;
        position: absolute;
        bottom: -35px;
        left: 50%;
        padding: 16px 32px;
        font-size: 18px;
        line-height: 28px;
    }

    /* =======ENd Our Games Section========= */


    /* ===========Start Waht We Do Section===== */

    #section-3 .title p.one {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-3 .title p.one::before {
        width: 64px;
        height: 2px;
        left: 40%;
        top: 45%;
    }

    #section-3 .title p.one::after {
        width: 64px;
        height: 2px;
        right: 40%;
        top: 45%;
    }


    #section-3 .title h2 {
        margin: 0px 0px 8px;
        font-size: 48px;
        line-height: 48px;
    }

    #section-3 .title p.two {
        font-size: 48px;
        line-height: 48px;
    }

    #section-3 .parent .inner {
        padding: 60px;
    }

    #section-3 .parent .inner .box-icon {
        padding: 24px;
    }

    #section-3 .parent .inner-imge-1 {
        width: 310px;
        height: 274px;
    }

    #section-3 .parent .inner-imge-2 {
        width: 310px;
        height: 274px;
    }

    #section-3 .parent .inner .box-icon i {
        font-size: 24px;
        line-height: 32px;
    }

    #section-3 .parent .inner h3 {
        font-size: 20px;
        line-height: 25px;
    }

    /* ===========End Waht We Do Section===== */


    /* ========Start Sponsors Section======= */

    #section-4 {
        background: #0A0F13;
        padding: 80px 0;
        display: flex;
        justify-content: center;
        position: relative;
        background-image: radial-gradient(ellipse 80% 90% at 50% 50%, rgba(202, 254, 28, 0.6) 0%, #0A0F13 50%);
    }

    #section-4::before {
        content: "";
        position: absolute;
        width: 600px;
        height: 2px;
        background: linear-gradient(to right, transparent, #CAFE1C 20%, #CAFE1C 80%, transparent);
        top: 0;
        box-shadow: 0px 0px 10px #CAFE1C, 0px 0px 20px #cbfe1c4d;
    }

    /* ========End Sponsors Section======= */


    /* ============Strat Our Team =========== */


    /* ==Style Section-Title ====== */

    #section-5 .section-title p.one {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3.2px;
    }

    #section-5 .section-title p.one::before {
        width: 64px;
        height: 2px;
        top: 45%;
        left: 40%;
    }

    #section-5 .section-title p.one::after {
        width: 64px;
        height: 2px;
        top: 45%;
        right: 40%;
    }

    #section-5 .section-title h2 {
        font-size: 48px;
        line-height: 48px;
    }

    #section-5 .section-title p.two {
        margin: 24px 0px 0px;
        font-size: 20px;
        line-height: 28px;
    }

    /* =====Style Card-item ========= */
    #section-5 .card-item .inner .title-inner {
        padding: 24px;
    }

    #section-5 .card-item .inner .title-inner h3 {
        margin: 0px 0px 4px;
        font-size: 20px;
        line-height: 28px;
    }

    #section-5 .card-item .inner .title-inner p.one {
        font-size: 14px;
        line-height: 20px;
    }

    #section-5 .card-item .inner .title-inner p.two {
        font-size: 12px;
        line-height: 16px;
    }


    #section-5 .card-item .inner .title-rotet {
        font-size: 18px;
        line-height: 28px;
    }

    /* ============End Our Team =========== */

    /* ============Start Contact Us section======= */

    /* ===Start Title Section ====== */
    #section-6 .title-section-6 p.one {
        margin: 0px 0px 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3.2px;
    }

    #section-6 .title-section-6 p.one::before {
        width: 64px;
        height: 2px;
        top: 45%;
        left: 39%;
    }

    #section-6 .title-section-6 p.one::after {
        width: 64px;
        height: 2px;
        top: 45%;
        right: 39%;
    }

    #section-6 .title-section-6 h2 {
        font-size: 48px;
        line-height: 48px;
    }

    #section-6 .title-section-6 p.two {
        margin: 24px 0px 0px;
        font-size: 20px;
        line-height: 28px;
    }

    /* ===Start Card-item-lf ==== */
    #section-6 .card-item-lf .box {
        padding: 32px;
        margin-bottom: 32px;
    }

    #section-6 .card-item-lf .box .icon {
        width: 64px;
        height: 64px;
    }

    #section-6 .card-item-lf .box .icon i {
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-lf .box .title-box h3 {
        font-size: 20px;
        line-height: 28px;
    }

    #section-6 .card-item-lf .box .title-box P {
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-lf .box-community {
        padding: 32px;
    }

    #section-6 .card-item-lf .box-community h3 {
        margin: 0px 0px 16px;
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-lf .box-community p {
        margin: 0px 0px 24px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-lf .box-community .icon-community .box-ic {
        width: 48px;
        height: 48px;
    }

    #section-6 .card-item-lf .box-community .icon-community .box-ic i {
        font-size: 20px;
        line-height: 28px;
    }

    /* ======Start Card-Item-rh ======== */

    #section-6 .card-item-rh .inner {
        padding: 32px;
    }

    #section-6 .card-item-rh .inner h3 {
        margin: 0px 0px 24px;
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-rh .inner .name .first-name {
        width: 47.5%;
    }

    #section-6 .card-item-rh .inner .name .last-name {
        width: 47.5%;
    }

    /* ===Style all label,input and div ======= */

    #section-6 .card-item-rh .inner form div {
        margin: 0px 0px 24px;
    }

    #section-6 .card-item-rh .inner form label {
        margin: 0px 0px 8px;
        font-size: 14px;
        line-height: 20px;
    }

    #section-6 .card-item-rh .inner form input {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-rh .inner form select {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
    }

    #section-6 .card-item-rh .inner form .message textarea {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
        height: 146px;
    }

    #section-6 .card-item-rh .inner form .subscribe input {
        width: 20px;
        height: 20px;
    }

    #section-6 .card-item-rh .inner form .box-btn button {
        padding: 16px 24px;
        font-size: 18px;
        line-height: 28px;
    }

    #section-6 .card-item-rh .inner .fot-form {
        padding: 32px 0px 0px;
        margin: 32px 0px 0px;
    }

    #section-6 .card-item-rh .inner .fot-form h5 {
        font-size: 24px;
        line-height: 32px;
    }

    #section-6 .card-item-rh .inner .fot-form span {
        font-size: 14px;
        line-height: 20px;
    }

    /* ============End Contact Us section======= */

    /* ==========Start Footer Section=========== */

    #footer .card-item .inner .one {
        margin: 0px 0px 24px;
        font-size: 20px;
        line-height: 28px;
    }

    #footer .card-item .inner p {
        margin: 0px 0px 24px;
        font-size: 16px;
        line-height: 24px;
    }

    #footer .card-item .inner .two a {
        font-size: 20px;
        line-height: 28px;
    }

    #footer .card-item .inner h4 {
        margin: 0px 0px 24px;
        font-size: 20px;
        line-height: 28px;
    }

    #footer .card-item .inner ul li {
        margin: 0px 0px 12px;
    }

    #footer .card-item .inner ul li a {
        font-size: 16px;
        line-height: 24px;
    }

    /* =====Style Title buttom======= */

    #footer .container .title-buttom {
        padding: 32px 0px 0px;
    }

    #footer .container .title-buttom .left p {
        margin: 0px;
        font-size: 16px;
        line-height: 24px;
    }

    #footer .container .title-buttom .right ul li {
        padding: 0px 24px 0px 0px;
    }

    #footer .container .title-buttom .right ul li a {
        font-size: 16px;
        line-height: 24px;
    }

    /* ============End Footer Section=========== */


}

/* xl 1200px  -->       */
@media screen and (min-width:1200px) {
    .xl-50 {
        width: 50%;
    }

    .xl-33 {
        width: 33.333%;
    }

    .xl-25 {
        width: 25%;
    }

    .xl-20 {
        width: 20%;
    }

    .xl-16 {
        width: 16.66%;
    }

}

/* xxl 1400px  -->       */
@media screen and (min-width:1400px) {
    .xxl-50 {
        width: 50%;
    }

    .xxl-33 {
        width: 33.333%;
    }

    .xxl-25 {
        width: 25%;
    }

    .xxl-20 {
        width: 20%;
    }

    .xxl-16 {
        width: 16.66%;
    }

}